<div class="inventory-component">
  <button class="btn open-inventory" (click)="openInventory()">Inventory</button>
  <div *ngIf="inventoryIsOpen">
    <div class="dark-overlay" (click)="closeInventory()"></div>
    <div class="inventory-screen">
      <div class="container-fluid">
        <div class="row">
          <div (click)="closeInventory()" class="close-button">
            <i class="fa fa-times"></i>
          </div>
          <div
            *ngFor="let hero of heroParty" 
            class="col p-3 hero-tab"
            [class.selected]="selectedHero === hero" 
            (click)="setSelectedHero(hero)">
              <h2 class="text-center">
                {{ hero.name }}
              </h2>
          </div>
          <div 
            *ngIf="heroParty.length < 3 && availableHeroes.length && !isFighting" 
            class="col-2 add-hero" 
            (click)="showAvailableHeroes()">
              <i class="fa fa-plus"></i>
          </div>
        </div>
        <div 
          *ngIf="showAvailableHeroesScreen" 
          class="row available-heroes-screen h-100">
          <div 
            *ngFor="let hero of availableHeroes" 
            class="col-4 p-3 text-center">
            <img [src]="hero.spriteUrl" [alt]="hero.name" class="img-fluid mb-3">
            <h5>{{ hero.name}} - {{ hero.characterRole}} - lvl {{ hero.level }}</h5>
            <div class="row">
              <div class="col skill d-flex flex-column">
                <h6>ATK</h6>
                <p>{{ hero.skills.attack }}</p>
              </div>
              <div class="col skill d-flex flex-column">
                <h6>SNK</h6>
                <p>{{ hero.skills.sneak }}</p>
              </div>
              <div class="col skill d-flex flex-column">
                <h6>PERS</h6>
                <p>{{ hero.skills.persuade }}</p>
              </div>
              <div class="col skill d-flex flex-column">
                <h6>INT</h6>
                <p>{{ hero.skills.intelligence }}</p>
              </div>   
            </div>
            <button class="btn" (click)="addHeroToParty()">Add To Party</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>